@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: amandafont;
    src: url('Airthan-age.ttf');
}
*{
    box-sizing:border-box;
    font-family: 'amandafont', serif;
    }
body{ 
    background-color: rgb(122, 203, 240);
}
h1,h2{ color: black;}
p{
    color:rgb(208, 255, 0);
    font-size: 32px;
}
h2{font-size: smaller;}
.centretext{
    text-align: center ; 
}
h1{
    color: darkmagenta;
    text-decoration: underline;
}
nav a{
    color: beige;
    text-decoration: none;
    font-size: 30px;
}

a:hover{
    color: blueviolet;
}
.content{
    width: 400px; 
margin-left:auto;
margin-right:auto;
display:block;
height: 700px;
width: 540px;
background-color: brown;
padding: 10px;

}