<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename = 'app.js')}}"></script>
    <title>JavaScript Events</title>

</head>
<body>
    
    <div class="topnavbar">
        <a class="active" href="#index.html">home</a>
    <nav> <a href= "{{url_for('my_view.index')}}"><h2>click here to return home</h2></a>
    <nav> <a href= "{{url_for('my_view.page1')}}"><h2>click here to return home</h2></a>
    <nav> <a href= "{{url_for('my_view.page2')}}"><h2>click here to return home</h2></a>
    <nav> <a href= "{{url_for('my_view.page3')}}"><h2>click here to return home</h2></a>
    <nav> <a href= "{{url_for('my_view.page4')}}"><h2>click here to return home</h2></a>
    <nav> <a href= "{{url_for('my_view.page5')}}"><h2>click here to return home</h2></a>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>